/* @font-face {
    font-family: Formular;
    font-weight: 300;
    font-style: normal;
    src: url("base/assets/Fonts/Formular-Light.ttf");
}

@font-face {
    font-family: Formular;
    font-weight: 300;
    font-style: italic;
    src: url("base/assets/Fonts/Formular-LightItalic.ttf");
}

@font-face {
    font-family: Formular;
    font-weight: 400;
    font-style: normal;
    src: url("base/assets/Fonts/Formular.ttf");
}

@font-face {
    font-family: Formular;
    font-weight: 400;
    font-style: italic;
    src: url("base/assets/Fonts/Formular-Italic.ttf");
}

@font-face {
    font-family: Formular;
    font-weight: 500;
    font-style: normal;
    src: url("base/assets/Fonts/Formular-Medium.ttf");
}

@font-face {
    font-family: Formular;
    font-weight: 500;
    font-style: italic;
    src: url("base/assets/Fonts/Formular-MediumItalic.ttf");
}

@font-face {
    font-family: Formular;
    font-weight: 700;
    font-style: normal;
    src: url("base/assets/Fonts/Formular-Bold.ttf");
}

@font-face {
    font-family: Formular;
    font-weight: 700;
    font-style: italic;
    src: url("base/assets/Fonts/Formular-BoldItalic.ttf");
}

@font-face {
    font-family: Formular;
    font-weight: 900;
    font-style: normal;
    src: url("base/assets/Fonts/Formular-Black.ttf");
}

@font-face {
    font-family: Formular;
    font-weight: 900;
    font-style: italic;
    src: url("base/assets/Fonts/Formular-BlackItalic.ttf");
} */
